/* STANDARD TAGS */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCCCCC;
}

ul {
    margin: 0 30px;
    list-style-type: none;
}

li {
    line-height: 1.5em;
}

canvas {
    height: 100%;
    width: auto;
    background-color: #FFFFFF;
}

/* DIVs */
div.center {
    text-align: center;
}

div#game-settings {
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 10000;
}

div#game-settings-content {
    position: fixed;
    background-color: #EEEEEE;
    overflow-y: scroll;
    top: 0;
    width: 230px;
    height: 100%;
    left: -250px;
    padding: 10px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#flyout-cover {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#game-settings:hover {
    left: 250px;
    opacity: 1;
}

div#game-settings:hover #game-settings-content {
    left: 0px;
}

div#game-settings:hover + div#flyout-cover {
    width: 100%;
}

div#flyout-trigger {
    height: 250px;
    width: 50px;
    background-color: #00AA00;
}

div#game-settings-label {
    position: absolute;
    top: 44%;
}

div#game-settings-label p {
    color: #FFF;
    position: relative;
    transform: rotate(-90deg) translateY(-76px);
    width: 200px;
    text-align: center;
    font-size: 1.5em;
}

div#board {
    padding: 10px 10px 10px 70px;
    margin: 0 auto;
}

div#board-wrapper {
}

/* SPANS */
span#flyout-game-code {
    font-family: monospace;
    font-size: 1.5em;
}

span#flyout-name {
    font-weight: 700;
}