/* STANDARD TAGS */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    color: #333333;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

hr {
    margin: 10px 0 20px 0;
    color: #777777;
}

button {
    background: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #777777;
    font-weight: 700;
    color: #777777;
    cursor: pointer;
}

button:hover {
    border: 1px solid #333333;
    color: #000000;
}

input#name-input {
    display: none;
    margin: 20px 0 10px;
}

input#game-code-input {
    display: none;
    margin: 10px 0;
}

button#start-game-button {
    display: none;
}

input {
    padding: 10px;
    outline: none;
    width: 200px;
}


/* DIVs */

div#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    
    width: 100vw;
    height: 100vh;
}

div#start {
    margin-top: auto;
    margin-bottom: 7%;
}

div#footer {
    margin-top: auto;
    margin-bottom: 10px;
}

div#game {
    display: none;
}